.ui-content {
    padding: 0px;
}

.summary-section {
    text-align: center;
    padding: 3px;
}

.graph {
    height: 100%
}

.duration {
    position: absolute;
    right:0px;
    padding: 10px;
}

.bar {
    background-color: #b3b3b3;
    display: inline-block;
    float: none;
    /*border: solid 0.1em white;*/
    box-shadow: inset #77807c -1px 1px 0px 1px  ;
}

/*.bar:hover, .detail-tile:hover {*/
    /*background-color: #fffff0;*/
/*}*/

.details-section {
    /*background-color: #ced2cf;*/
    overflow: hidden;
    white-space: nowrap;
}

.detail-tile {
    width: 11em;
    display: inline-block;
    border: 1px solid #525b57;
    border-radius: 0.5em;
    margin: 2px;
}

.detail-tile:focus {
    background-color: #e9edea;
}

.date {
    font-size: 1.2em;
    text-align: center;
    padding-top: 1em;
}

.interest {
    text-align: center;
    padding-top: 1em;
    cursor: pointer;
}

.emi {
    text-align: center;
    padding-top: 1em;
    font-size: 1.5em;
}

.emi-interest, .emi-principal {
    font-size: 1em;
    width: 48%;
    display: inline-block;
}

.emi-interest {
    text-align: right;
}

.balance {
    font-size: 1.7em;
    color: red;
    text-align: center;
    padding-top: 1.2em;
}
