@font-face {
    font-family: daniel;
    src: url("../danielbd.ttf");
}

.ui-icon-loading {
    background: url(../image/ajax-loader.gif);
    background-size: 46px 46px;
}


body, input {
    font-family: daniel;
}

h1 {
	margin: 0px;
}

input {
    background: transparent;
    background-image: url("../image/line-blue.png");
    background-position: bottom;
    background-repeat: no-repeat;
    border: none;
    display: inline-block;
}

input.error {
	background-image: url("../image/line-red.png");
}

a {
	text-decoration: none;
	color: #2489ce;
}

.ui-li-heading {
    color: #2489ce;
    font-size: 1.5em;
}

.ui-li-desc {
	font-size: 0.9em;
	color: #000000;
	white-space: normal;
}

.ui-dialog {
	margin-top: 0px;	
}

a.disabled {
	color: #f20015;
}

.show {
	visibility: visible;
}

.hide {
	visibility: hidden;
}

input:disabled {
    background-image: url("../image/line.png");
}

.ui-dialog .ui-header a.ui-btn { display:none; }

.ui-title {
	margin-top: 15px;
}

.ui-btn-left, .ui-btn-right {
	top: 0px !important;
}

#add-loan-btn {
    background-image: url("../image/add.png");
    width: 2.5em;
    height: 2.5em;
    background-size: contain;
    background-repeat: no-repeat;
}

.back-btn {
    background-image: url("../image/back.png");
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0px !important;
}

li {
    background-image: url("../image/line-thin.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 4px;
}

.ui-title, .date {
    background-image: url("../image/line-thin.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 50% 4px;
}

.ui-icon {
	width: 2em;
	height: 2em;
}

.ui-icon-arrow-r {
    background-image: url("../image/forward.png");
    background-size: 2em;
    background-repeat: no-repeat;
}

#add-loan-date-month, #add-loan-date-year {width: 25%; display: inline-block;}
#add-loan-name {width: 80%; display: inline-block;}
#add-loan-amount { width: 50%; display: inline-block;}
#add-loan-emi { width: 40%; display: inline-block;}
#add-loan-interest { width: 25%; display: inline-block;}

.instructions {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    color: gray;
    width: 100%;
    padding-bottom: 10px;
}


#loan-details .ui-content {
    padding: 0px;
}

.page {
    background-image: url("../image/crumpled-paper.jpg");
    background-size: cover;
}

.graph-section {
    float: none;
}

.graph {
    height: 100%;
    overflow: hidden;
}

.bar {
    display: inline-block;
    float: none;
    background-image: url("../image/bar.png");
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    width: 20px;
}

.bar-highlight {
    background-image: url("../image/bar-highlight.png");
}

.details-section {
    white-space: nowrap;
}

.detail-tile {
    width: 15em;
    display: inline-block;
    padding: 2px;
    background-image: url("../image/sticky-pale.png");
    background-size: auto;
    background-repeat: no-repeat;
}

.load-more-tile {
	display: inline-block;
}

.detail-tile-highlight {
    background-image: url("../image/sticky.png");
}

/*-------------*/

.column-left {
    width: 50%;
    text-align: right;
    display: inline-block;
    padding-right: 0.5em;
}

.column-right {
    width: 46%;
    text-align: left;
    display: inline-block;
}

.big {
    font-size: 1.3em;
}

.small {
    font-size: 0.8em;
}

.gap-above {
    padding-top: 1em;
}

.gap-above-small {
    padding-top: 0.5em;
}

.highlight {
    color: red;
}

.half-line {
    background-image: url("../image/line-thin.png");
    height: 5px;
    background-size: 50% 4px;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 5px;
}

.mukka-line {
    background-image: url("../image/line-thin.png");
    height: 5px;
    background-size: 75% 4px;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 5px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.scale {
	position: absolute;
	right: 0px;
	width: 100%;
}

.note-sticky {
    position: absolute;
    left:0.2em;
    z-index: 10;
    background-image: url("../image/mark.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 18px;
    padding-left: 5px;
    width: 256px;
    height: 65px;
}

.help-icon {
    background-image: url("../image/help.png");
    width: 2.5em;
    height: 2.5em;
    background-size: contain;
    background-repeat: no-repeat;
    right: 0px;
}

.help-close-icon {
    background-image: url("../image/help-close.png");
    width: 2.5em;
    height: 2.5em;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 10px;
    right: 5px;
}

.help {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 0px;
	z-index: 100;
	display: none;
}

.help-add-new-note {
	left: 10%;
	top: 20%;
}

.help-add-new-note-arrow {
	position: absolute;
	left: 15%;
	top: 3%;
}

.help-edit-note {
	left: 15%;
	top: 50%;
}

.help-delete-note {
	left: 15%;
	top: 70%;
}

.help-swipe-note {
	left: 10%;
	top: 15%;
}

.help-edit-emi-note {
	left: 15%;
	top: 70%;
}

.help-arrow-left {
	position: absolute;
	left: 2%;
	top: 30%;
}

.help-arrow-right {
	position: absolute;
	right: 2%;
	top: 30%;
}
