@font-face {
    font-family: daniel;
    src: url("../daniel.ttf");
}

.ui-icon-loading {
    background: url(../image/ajax-loader.gif);
    background-size: 46px 46px;
}


body, input {
    font-family: daniel;
}

input {
    background: transparent;
    background-image: url("../image/line-blue.png");
    background-position: bottom;
    background-repeat: no-repeat;
    border: none;
    display: inline-block;
}

a {
    color: #2489ce;
    text-decoration: none;
}

input:disabled {
    background-image: url("../image/line.png");
}

.ui-dialog .ui-header a.ui-btn { display:none; }

#add-loan-btn {
    background-image: url("../image/add.png");
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0px;
}

.back-btn {
    background-image: url("../image/back.png");
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0px !important;
}

li {
    background-image: url("../image/line-thin.png");
    background-position: bottom;
    background-repeat: no-repeat;
}

.ui-title, .date {
    background-image: url("../image/line-thin.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 50% 4px;
}

.ui-icon-arrow-r {
    background-image: url("../image/forward.png");
    background-size: 16px;
    background-repeat: no-repeat;
}

#add-loan-date {width: 40%; display: inline-block;}
#add-loan-name {width: 80%; display: inline-block;}
#add-loan-amount { width: 50%; display: inline-block;}
#add-loan-emi { width: 40%; display: inline-block;}
#add-loan-interest { width: 25%; display: inline-block;}

.instructions {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    color: gray;
    width: 100%;
    padding-bottom: 10px;
}


#loan-details .ui-content {
    padding: 0px;
}

.page {
    background-image: url("../image/crumpled-paper.jpg");
    background-size: cover;
}

.graph-section {
    float: none;
}

.graph {
    height: 100%;
    overflow: hidden;
}

.duration {
    position: absolute;
    right:0px;
    padding: 10px;
    z-index: 10;
    background-image: url("../image/mark.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.bar {
    display: inline-block;
    float: none;
    background-image: url("../image/bar.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 10px;
}

.bar-highlight {
    background-image: url("../image/bar-highlight.png");
}

.details-section {
    white-space: nowrap;
}

.detail-tile {
    width: 15em;
    display: inline-block;
    margin: 2px;
    background-image: url("../image/sticky-pale.png");
    background-size: auto;
    background-repeat: no-repeat;
}

.detail-tile-highlight {
    background-image: url("../image/sticky.png");
}

/*-------------*/

.column-left {
    width: 52%;
    text-align: right;
    display: inline-block;
}

.column-right {
    width: 44%;
    text-align: left;
    display: inline-block;
}

.big {
    font-size: 1.3em;
}

.small {
    font-size: 0.8em;
}

.gap-above {
    padding-top: 1em;
}

.gap-above-small {
    padding-top: 0.5em;
}

.highlight {
    color: red;
}

.half-line {
    background-image: url("../image/line-thin.png");
    height: 5px;
    background-size: 50% 4px;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 5px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}
